body {
    width: 760px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.horizontal-container {
    display: flex;
    justify-content: flex-start;
    width: max-content;
    max-width: 100%;
}

.fixed {
    display: inherit;
    flex-wrap: nowrap;
}

.profile-picture {
    width: 170px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block {
    margin: 0px 15px 15px 10px;
    text-align: left;
}

h2 {
    font-size: x-large;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(29, 29, 29);
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.splitter {
    margin-top: 10px;
    border-top: 2px dashed rgb(29, 29, 29);
}

ul {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 5px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    font-size: 14px;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 5px;
}

@media (max-width: 760px) { /* mobile */
    body {
        width: 100%;
    }

    .horizontal-container {
        flex-wrap: wrap;
    }

    .desktop {
        display: none;
    }

    .fixed {
        justify-content: space-around;
        width: 100%;
    }
}

@media (min-width: 760px) { /* desktop */
    .mobile {
        display: none;
    }
}